.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-container {
  border: 2x solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(246, 243, 243);
  padding: 1rem;
  margin: 1rem;
  box-shadow: 12px 10px rgb(247, 243, 243);
}

.product-container .product-item img{
  width:"100%"

}
.product-container .product-item:hover {
  background-color: white;
}


.product-container .product-item div {
  margin: 0.1em;
}